apiVersion: v1
kind: Service
metadata:
  name: ${{ values.name }}
spec:
  ports:
  - port: 4222
    targetPort: 4222
    name: client
  - port: 8222
    targetPort: 8222
    name: monitor
  selector:
    app: ${{ values.name }}
