apiVersion: v1
kind: Service
metadata:
  name: ${{ values.name }}
spec:
  ports:
  - port: 8123
    targetPort: 8123
    name: http
  - port: 9000
    targetPort: 9000
    name: tcp
  selector:
    app: ${{ values.name }}
